.header {
    background-color: var(--color-black);
}

.header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    line-height: 110px;
    text-transform: uppercase;
    font-size: 90px;
}
@media screen and (max-width: 700px){
    .header-h1 {
        font-size: 40px;
        line-height: 70px;
    }
}

.header-img img {
    width: 80%;
}

